html, body {
    margin:0px;
    height:100%;
}

h2{
    color:hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif; 
}

p{
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    padding-left: 80px;
    padding-right: 100px;
    line-height: 1.6;
}


ol{
    margin: 0;
    padding: 0;
}

img{
    max-width:100%;
    max-height:100%;
    display: block;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    mix-blend-mode: multiply;
}



.heading{
    font-size: 35px;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 50px;
}
.insight{
    color: hsl(277, 64%, 61%)
}
.left-box{
    background-color:hsl(244, 38%, 16%);
    
    width: 540px;
    
    margin-top: 150px;
    margin-left: 200px;
    margin-bottom: 167px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.right-box{
    
    background-color: hsl(277, 64%, 61%);
    width: 540px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 150px;
    margin-right: 180px;
    margin-bottom: 167px;
    margin-left: 0px;
    
}

.nominal{
    color:hsl(0, 0%, 100%) ;
    font-size: 25px;
    
    
}

#item{
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    list-style: none;
    padding-left: 80px;
    padding-bottom: 10px;
    
    
}

#container{
    background-color: hsl(233, 47%, 7%);
    
    height:100%;
    
    display: flex;
}



ol #item li {
    display:inline;
    
}

li{
    float: left;
    
    color: hsla(0, 0%, 100%, 0.75);
    margin-right: 50px;
    
}

.info{
    letter-spacing: 3px;
}
